<p>
  <h1>Job assignment and rotation chart</h1>
</p>


<!-- Log in -->
<div class="jumbotron col-md-6 col-md-offset-3 dash-head">
    <a href="" ng-click="showReg()">{{status}}</a>
    <div ng-show="!reg">
        <h2>Login</h2>
        <form ng-submit="login()">
            <p ng-show="error" class="text-danger">{{ error }}</p>
            <input type="email" placeholder="Email" class="form-control" ng-model="details.email" required><br>
            <input type="password" placeholder="Password" class="form-control" ng-model="details.password" required><br>
            <input type="submit" class="btn btn-info" value="Sign In">
        </form>
    </div>
