<div id="content">

<!-- Input for names, must hit enter to sumbit -->
    <form ng-submit="addName(name)">
      <input ng-model="name" placeholder="Names" required>
    </form> <br>

    <!-- Input for jobs, must hit enter to sumbit -->
    <form ng-submit="addJob(job)">
      <input ng-model="job" placeholder="Jobs" required>
    </form> <br>

<!-- This button randomly combines names with jobs -->
    <button ng-click="randomizer(names, jobs)">Assign Jobs</button>

<!-- This Dispays The list of jobs -->
    <div id="jlist">
      <ul ng-hide="randomize"><h2><u>Jobs</u></h2>
        <li ng-repeat="job in jobs">{{job.name}}</li>
      </ul>
      <ul ng-show="randomize"><h2><u>Jobs</u></h2>
        <li ng-repeat="job in oldJobs">{{job.name}}</li>
      </ul>
    </div>
    <!-- This displays the list of names -->
    <div id="nlist">
      <ul><h2><u>Names</u></h2>
        <li ng-repeat="people in names">{{people.name}}</li>
      </ul>
    </div>

    <!-- <div>
        <ul>
          <li ng-repeat='item in list1' ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">{{item.title}}</li>
        </ul>
    </div> -->

<!-- This shows the names and jobs combined at random -->
    <ul ng-show="randomize">
      <li ng-repeat="info in names" ng-click="current = info">
        <h3>{{info.name}}</h3>
        <ul>
          <li ng-repeat="job in info.jobs">

            <div id="list" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
              jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep', onStop: 'onDragStop(job, info.name)'}" ng-model="job">
            {{info.name}} - {{job.name}}
            </div>

        </li>
        </ul>
      </li>
    </ul>

<!-- This is the start of the row of box's -->
  <div id="row">
    <div id="boxed" ng-repeat="(day, jobs) in week"><h4>{{day}}</h4>
      <ul data-drop="true" jqyoui-droppable="{multiple:true, onDrop: 'assignDay(day)'}" class=".h9">Drop Item Here
        <li ng-model="$index" ng-repeat="job in jobs track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
         jqyoui-draggable="{index: {{$index}},animate:true}">{{job.name}} - {{job.job}}<input type="image" src="Images/xbox.png" width="15px" height="15px" class="myButton" ng-click="remove(day, job, $index)"></li>
        <li class="placeholder"></li>
      </ul>
    </div>
  </div>

<!-- <button ng-click="dayRef.remove();">Press to delete</button> -->



  </div> <!-- End content -->
