<div id="content">

<!-- Input for names, must hit enter to sumbit -->
    <form ng-submit="addName(name)">
      <input ng-model="name" placeholder="Names" required>
    </form> <br>

    <!-- Input for jobs, must hit enter to sumbit -->
    <form ng-submit="addJob(job)">
      <input ng-model="job" placeholder="Jobs" required>
    </form> <br>

<!-- This button randomly combines names with jobs -->
    <button ng-click="randomizer(names, jobs)">Assign Jobs</button>

<!-- This Dispays The list of jobs -->
    <div id="jlist">
      <ul ng-hide="randomize"><h2><u>Jobs</u></h2>
        <li ng-repeat="job in jobs">{{job.name}}</li>
      </ul>
      <ul ng-show="randomize"><h2><u>Jobs</u></h2>
        <li ng-repeat="job in oldJobs">{{job.name}}</li>
      </ul>
    </div>
    <!-- This displays the list of names -->
    <div id="nlist">
      <ul><h2><u>Names</u></h2>
        <li ng-repeat="people in names">{{people.name}}</li>
      </ul>
    </div>

<!-- This shows the names and jobs combined at random -->
    <ul ng-show="randomize">
      <li ng-repeat="info in names">{{info.name}}
        <ul>
          <li ng-repeat="job in info.jobs">{{job.name}}</li>
        </ul>
      </li>
    </ul>


  </div> <!-- End content -->
