    <div>
        <h2>Register</h2>
        <!-- Step One Of Registration-->
        <form ng-submit="register()">
            <p ng-show="error" class="text-danger">{{ error }}</p>
            <input class="form-control" type="text" placeholder="Full Name" ng-model="details.name" required /><br />
            <input class="form-control" type="email" placeholder="Email" ng-model="details.email" required /><br />
            <input class="form-control" type="password" placeholder="Password" ng-model="details.password" required /><br />
            <input type="submit" class="btn btn-info btn-lg" value="Register" />
        </form>
    </div>
